__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and caches
*.log
.pytest_cache/

# Environment variables
.env

# Python packaging
pip-wheel-metadata/
__pypackages__/
